/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Book a tour popup */
$pagination_margin: 15vw;

.page-book-a-tour{
.book-tour-form-modal-outer-wrapper{
    display:none;
    &::before{
    content: "";
    background: rgba(255,255,255,0.45);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    &.is-active {
        display: block;
    }
}
.book-tour-form_wrapper.gform_wrapper {


    @include mobile {
    min-height: 100vh;
     width:100vw;
     background-color: transparent;
     padding-left:10px;
     padding-right:10px;
     overflow-y: scroll;
    

    }
   
	
    position:relative;
    max-width: 944px;	
    background-color: #DAEFEC;
    margin: 0 auto;
    height: 100%;
    


    .gf_page_steps{
        border-bottom:none;
    }
    
    .gf_page_steps {

        @include mobile{
            display: none;
        }
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
      }
      
      .gf_step {
        background: white;
        border: 1px solid #297373;
        color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        flex-shrink: 0;
        margin: 0 $pagination_margin;
        transition: background 0.5s;
        .gf_step_number{
            display:none;
        }

        &:hover,
        &.gf_step_active {
           background: #297373;
        }

        &::after {
          content: '';
          background: #297373;
          height: 2px;
          width: $pagination_margin * 2;
          position: absolute;
          right: -$pagination_margin * 2;
        }
        &:nth-of-type(2) {
          &::after {
            display: none;
          }
        }
      }

    .gfield_html h1{
        font-family: $font__main;
         font-weight: bold;
    }

    .gform_heading{
     
        display: none;
        
    }
    .gform_page{
        // height: 339px;	
        height: 100%;
        max-width: 784px;
        margin:0 auto;
    }

    .ginput_container_name .name_first{
        @include mobile{
            width:100%;
        }
    }
    .ginput_container_name .name_last{
        @include mobile{
            width:100%;
        }
    }
    .ginput_container .medium{
        @include mobile{
        width: 100%;
    }
}
 
.ginput_container input.medium.datepicker{
    @include mobile{
        width:100%;
    }
}

    .gform_page_footer {
        border-top: none;
        position:relative;


        .gform_button, .gform_next_button{
           
            @include mobile{
                height: 50px;
                width: 220px;
                display: block;
                position: absolute;
                border:1px solid $dark_green;
                border-radius: 3px;
                top: 16px;
                left: 50%;
                transform: translateX(-50%);

            }
            position: absolute;
            right: 15%;
            top: 85%;
            font-size: 25px;
            color: $font_light;
            font-weight: 700;
            height: 60px;	
            width: 150px;
            font-family: $bodytext_font_family;
            background: $dark_green;
            box-shadow: none;
            padding: 0;
            &:focus {
                outline: none;
            }
            
        }
       
      
        .button.gform_previous_button {
            @include mobile{
                 display:none;

            }
            font-family: $bodytext_font_family;
            position: absolute;
            left: 15%;
            top: 85%;
            font-size: 25px;
            height: 60px;	
            width: 150px;
            font-weight:900;
            background-color: transparent;
            box-shadow: unset;
            color: $dark_green;
            border:none;
            &:focus {
                outline: none;
            }
           

          
        }
    }

   


}

.gform_confirmation_wrapper{
    height: 100%;
    background: white;
    max-width: 944px;
    margin:0 auto;
    position:relative;
    text-align: center;
    padding: 0 1rem;
    border:1px solid $dark_green;

    .gform_confirmation_message{
      a{
          @include mobile{
            border: 1px solid $dark_green;
            font-size:1.5rem;
            width:10.5rem;
            height:2.8125rem;
            border-radius: 3px;
            margin-bottom: 2rem;
            position: absolute;
            bottom:-5%;
            left: 50%;
            transform: translateX(-50%);
            
        }
        display:inline-block;
        text-decoration: none;
        border: 1px solid $dark_green;
        font-size: 2.5rem;
        color: $font_light;
        font-weight: 700;
        width: 15.625rem;
        height: 4rem;
        border-radius: 3px;
        font-family: $bodytext_font_family;
        background: $dark_green;
        box-shadow: none;
        padding: 0;
        
        
        &:focus {
            outline: none;
        }

      }
    }
}

.ui-datepicker{
    .ui-datepicker-month,.ui-datepicker-year{

    font-family: $font__secondary;
    font-weight: 300;
}
}

.gform_wrapper .gform_page_fields ul#gform_fields_1_2 {
    @include mobile{
        display:block;
    }
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .custom-form-title-1{
        width: 100%;

    }
  

}



.gform_wrapper .gfield .ginput_container .gfield_select{
    @include mobile{
        width: 100%;
    }
    width: 13rem;
    height: 2.2rem;
}




tr td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: white;
}

.ui-datepicker-calendar {

    .ui-state-default {
             
        
        &.ui-state-active {
           
            background-color: #FF6978;
           
            border-radius: 50%;
            color: #666;
        }

    }
    


}

.gform_confirmation_message_1{
    @include mobile{
        padding-left: 10px;
        padding-right: 10px;

    }
   
    display: flex;
    height: 100%;
    align-items: center;
   
    width:auto;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    img{

        @include mobile{

                height:auto;
                width:auto;
        
        }
        height:25vh;
        width:25vw;
    }

}


// styling for modal

.book-tour-form-modal{
    

    .is-active &{
       
        position:fixed;
        z-index: 99999;
        top: 7%;
        left: 50%;
        overflow-y: auto;
        height:75vh;
        background-color: #DAEFEC;
        
        transform: translateX(-50%);
    }

}

.prev-button-arrow.fa-less-than{
    height:60px;
    display: inline-block;
    position: absolute;
    top: 85%;
    &::before{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.close-book-tour{
    
    right: 3%;
    top: 20px;
    color:$dark_green;
    background-color:transparent;
    border:none;
    font-size: 32px;
    font-family: $font__secondary;
    font-weight: bold;
    box-shadow: unset;
    display: block;
    position: absolute;
    z-index: 400;
    &:focus {
        outline: none;
    }
    &:hover {
        outline: none;
        box-shadow: unset;
    }
}

.prev-button-arrow{
    position: absolute;
    // bottom: 8.5%;
    top: 208%;
    left: 15%;
    
    color: $dark_green;
    font-size: 1.5rem;
}

.entry-header{
    h1{
        display:none;
    }
}

tbody{
    background: white;
}
}


.page-book-a-tour{

   .site-content .content-area .site-main .container article .entry-content{
       @include mobile{
           max-height: 1000px;
     
    }
}
}
