/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.headline{
	font-family: $headline_font_family;
	font-size: $headline_font_size;
	color: $headline_color_dark;
}

.suhead{
	font-family: $subhead_font_family;
	font-size: $subhead_font_size;
	color: $subhead_color;
}




.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.container {
	width: 100vw;
	margin: 0 auto;
	max-width: $body_max_width;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}



