/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Events */
.post-type-archive-event {
    .event-wrap {
        padding-top: 40px;
        height: 322px;
    }

    .events-title h1 {
        text-align: center;
        font-family: $font__main;

        @include mobile{
            font-size: 24px;
        }
    }

    .events-description {
        font-family: $font__secondary;
        font-size: $bodytext_font_size;
        max-width: 750px;

        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.9;
        line-height: 22px;

        @include mobile{
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;

        }
    }

    .custom-loop {
        .loop-type-events {
            max-width: 943px;
            margin: 0 auto;

            a {
                text-decoration: none;

                .loop-item-container {
                    display: flex;
                    margin-bottom: 50px;
                    border-radius: 5px;
                    box-shadow: 0 12px 48px -12px $box_shadow_green;

                    .event-image {
                       
                        height:auto;
                        width: 400px;
                        flex: none;
                        border-radius: 5px;

                        @include mobile{
                            width:30vw;
                            height:20vh;
                           
                        }

                    }

                    .event-information {
                        padding-left: 20px;

                        .event-name {
                            margin: 0;
                            font-family: $font__main;
                            font-size: 20px;

                            letter-spacing: 0.3px;
                            line-height: 25px;
                            padding-top: 10px;

                            @include mobile{
                                font-size:16px;
                                padding-top: 1rem;
                            }
                        }

                        .event-date {
                            font-family: $font__secondary;
                            font-weight: bold;
                            padding-top: 10px;
                            font-size: 16px;
                            margin: 0;

                            @include mobile{

                                font-size:14px;
                                padding-top: 2rem;

                                &::after{

                                    content:'\f054';
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                    font-size: 16px;
                                    color:$dark_green;
                                    padding-left: 2.5rem;
                                }

                            }
                        }
                    }

                    .event-content-wrapper {
                        display: flex;

                        .event-content {
                            font-family: $font__secondary;
                            font-size: 16px;
                            margin-bottom: 0;
                            padding-top: 10px;
                            padding-left: 20px;
                            text-align: justify;
                            padding-bottom: 1rem;

                        }

                        .button-arrow-container {
                            width: 100%;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            box-shadow: none;


                            .button-arrow {
                                margin: 0 auto;
                                width: 68px;
                                height: 67px;

                                font-size: 40px;
                                color: $dark_green;
                                background: transparent;
                                text-align: center;
                                border: none;
                                box-shadow: none;

                                &:focus,
                                &:hover {
                                    outline: none;
                                    box-shadow: none;
                                }
                            }
                        }
                        @include mobile{
                            display:none;
                        }
                    }
                     
                   
                    //end of event-content-wrapper
                }

                // end of loop container
            }
            @include mobile{
                    padding: 0 10px;        
            }
        }
    }

    // end of custom loop
}

/* Single Event */
.single-event {
    .events-title h1 {
        text-align: center;
        font-family: $font__main;

        @include mobile{
            display:none;
        }
    }

    .events-description {
        font-family: $font__secondary;
        font-size: $bodytext_font_size;
        width: 750px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 0.9;
        line-height: 22px;

        @include mobile{
            display:none;
        }
    }

    .event-title {
        max-width: 1021px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #297373;
        font-family: $font__main;

        .entry-title {
            margin-bottom: 0;
            margin-top: 50px;

            @include mobile{
                text-align: center;
            }
        }
        @include mobile{
            border-bottom:unset;
        }
    }

    .single-event-wrap {
        max-width: 1021px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 37px;
        display: flex;
        font-family: $font__secondary;

        .event-thumbnail {
            flex: none;
            width: 456px;
            height: 305px;
            overflow: hidden;
        }

        .event-details {
            margin-left: 130px;
        }

        .event-location-time-details {
            display: flex;
            justify-content: space-between;

            .location {
                font-weight: bold;
                margin: 0;
            }
        }

        a {
            color: #297373;
            font-weight: bold;
            font-family: $font__secondary;
            margin-bottom: 10px;
        }

        .button-book {
            margin-top: 30px;
            margin-bottom: 60px;
            font-size: 25px;
            color: $font_light;
            font-weight: 700;
            max-width: 250px;
            max-height: 80px;
            font-family: $bodytext_font_family;
            border:1px solid $dark_green;
            border-radius:3px;
            background: $dark_green;
            box-shadow: none;
            padding: 0;
            text-shadow: none;

            &:focus {
                outline: none;
            }

            &:hover {
                box-shadow: 0 10px 10px 0 $dark_grey;
            }
        }

        @include mobile{
            display: block;
            padding-left:10px;
            padding-right:10px;
           
            

            .event-thumbnail {
                flex: none;
                width: auto;
                height: auto;
                overflow: hidden;
            }
    
            .event-details {
                margin-left: 0;
                .events-description-details{
                   
                    font-size:14px;

                    p:nth-child(1){
                        display:none;
                    }
                }
            }
    
            .event-location-time-details {
                display: block;
                
    
                .location {
                    font-weight: bold;
                    margin: 0;
                }
                .event-location{
                    margin-bottom: 20px;
                }
            }

            a{
                margin-bottom: 10px;
            }

            .button-book {
                font-size: 25px;
                width:168px;
                height:45px;
                font-size: 18px;
                transform: translate(50%, -50%);
                margin-top: 60px;
                
                
            }
    

        }
    }
}

