/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
// text transform the ok button

* {
  box-sizing: border-box;
}

footer{
  max-width: 100%;
  
  .hidden-mobile {
  display: none;
}
.show-mobile {
  display: block;
}
@include mobile { ///changed with mobile
  .hidden-mobile {
  display: block;
  font-size: $bodytext_font_size;
  }
  .show-mobile {
    display: none;
  }
}
}
.site-footer {
  background: $dark_green;
  color: white;
  font-size: $bodytext_font_size_smaller;
  
  .contact-info {

    a:link {
      color: white;
      text-decoration: none;
      #text {
        // display: inline-block;
        // margin-right: 1em;
      }
    }
    a[href^='mailto'] {
      color: white;
      text-decoration: none;
    }
  }
}

.site-footer-name-address {
  width: 50%;
  display: flex;
  align-self: center;
  align-content: space-around;
  align-items: center;

  p {
  line-height: 1.75;
}
@include footer-width { ///changed with footer-width
  justify-content: space-around;

} ///changed with footer-width

@include mobile { ///changed with mobile
  justify-content: flex-start;
  width: 40%;
} ///changed with mobile

}


.contact-info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  p {
  padding-left: 13px;
  margin: 0;
  }  
  @include mobile { ///changed with mobile
    width: 60%
    a {
      display: flex;
      // align-content: flex-end;
    }
   flex-direction: column; 
   justify-content: space-between;
   width: unset;
  } ///changed with mobile

}


// Start Style for footer newsletter gravity form
.site-footer {
.gform_wrapper {
.gfield_description {
  display: none;
}
div.validation_error {
  padding: 0 !important;
  margin: 0 !important;
  content: "This is a test";
}
.gform_body {
  width: unset !important;
}
.gform_footer {
  width: unset !important;
  height: auto;
  padding: unset;
}
.gform_button button {
  height: 411px !important;
}
#gform_wrapper_2 {
  #gform_2 {
  height: 2rem !important;  
 
}
}
.gform_footer {
  margin: unset !important;
}
  li.hidden_label {
    input {
      margin-top: unset;
    }
  }
  .top_label {
    div.ginput_container {
      margin-top: unset;
    }
  } 
ul {
  li.gfield {
    margin-top:unset;
  }
}
input[type=submit] {
      height: auto !important;
    }
.ginput_container_email {
      input {
        width: 260px !important;
      }
    }
    

}
}
// End Style for footer newsletter gravity form

.footer-newsletter-form {
  .show-mobile {
    padding-top: 1rem;
  }
  form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



  
.hidden-mobile {
  text-align: left; 
}
.show-mobile {
  text-align: center;  
}
@include mobile { ///changed with mobile
  .hidden-mobile {
  font-size: $bodytext_font_size;
  }
.gform_wrapper  {
  form {
    height: 2rem;
  }
}
} ///changed with mobile


input {
  font-family: $bodytext_font_family;
}
input[type=submit] {
  background-color: $newsletter-form-color;
  height: 42px;
  width: 61px;
  font-size: $bodytext_font_size;
  box-shadow: none;
  border: none;
  margin-left: 10px;
}
input[type=email] {
  height: 42px;
  width: 260px;
  border: none;
}
}



.contact-info-img-container {
  display: flex;
  flex-wrap: wrap;
}

.img-phone {
  padding-bottom: 1rem;
img {
  // height: 30px;
  width: 24px;
  
}
}

.img-email {
img {
  width: 28px;
}
@include mobile { ///changed with mobile
  padding-bottom: 1rem;
} ///changed with mobile
}

.site-footer {
  width: 100%;
}

.footer-content {
  max-width: 1400px;
  height: 175px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0rem;
  padding-right: 0rem;
  @include footer-width { ///changed with footer-width
    padding-left: 0rem;
    padding-right: 0rem;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    .contact {
      order: 2;
      width: 50%;
    }
    .footer-newsletter-form {
      order: 1;
      width: 100%;
    }
    .social-icon {
      order: 3;
      width: 50%;
    }
    .site-rights-mobile {
      order: 4;
      width: 100%;
      text-align: center;
      font-size: $bodytext_font_size_smaller *.8;
    }
    .social-icon {
      padding-left: 50px;
    }

  } ///changed with footer-width

  @include mobile { ///changed with mobile
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .contact {
      width: 100%;
    }
    .footer-newsletter-form {
      width: 100%;
      
    }
    .social-icon {
    }
    .site-rights-mobile {
      width: 100%;
    }
    .contact-info-img-container {
      img {
        width: 20px;
      }
    }
    .footer-newsletter-form {
      form {
      justify-content: flex-start;
      
    }
  }
  } ///changed with mobile

}

  .social-icon-mobile-image {
      width: 20px;
  }
  


.contact {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    @include mobile { ///changed with mobile
      justify-content: space-between;
      width: 100%;
    } ///changed with mobile
  


  p {
  margin: none;
}

@include mobile { ///changed with mobile
  width: 100%;
}
  } 

.social-icon {
  align-self: center;

}  

.make-strong {
  font-size: $bodytext_font_size;
}

.contact, footer-newsletter-form, social-icons {
 width: 33%;
}

@include mobile { ///changed with mobile
.site-footer {
  .footer-newsletter-form {
    .hidden-mobile {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .gform_wrapper  {
  form {
    height: 2rem;
  }
}
input[type=submit] {
  margin: 0 0 0 10px !important;
  line-height: 1 !important;
}
.ginput_container_email {
  input {
    line-height: 1 !important;
  }
}
}
} ///changed with mobile