/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
// text transform the ok button

* {
  box-sizing: border-box;
}

footer{
  max-width: 100%;
  
  .hidden-mobile {
  display: none;
}
.show-mobile {
  display: block;
}
@include mobile { ///changed with mobile
  .hidden-mobile {
  display: block;
  font-size: $bodytext_font_size;
  }
  .show-mobile {
    display: none;
  }
}
}
.site-footer {
  background: $dark_green;
  color: white;
  font-size: $bodytext_font_size_smaller;
  
  .contact-info {

    a:link {
      color: white;
      text-decoration: none;
      #text {
        // display: inline-block;
        // margin-right: 1em;
      }
    }
    a[href^='mailto'] {
      color: white;
      text-decoration: none;
    }
  }
}

.site-footer-name-address {
  width: 50%;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  p {
  line-height: 1.75;
}
}


.contact-info {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  p {
  padding-left: 13px;
  }  
}

.footer-newsletter-form {
  align-content: center;
  text-align: center;
  // white-space: nowrap;
  // padding: 0px 50px;
  // margin: auto 0;
  align-self: center;
}

.footer-newsletter-form {
  form {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.hidden-mobile {
  
}
.show-mobile {
  
}
@include mobile { ///changed with mobile
  .hidden-mobile {
  
  font-size: $bodytext_font_size;
  }
  .show-mobile {
    
  }
} ///changed with mobile


input {
  font-family: $bodytext_font_family;
}
input[type=submit] {
  background-color: $newsletter-form-color;
  height: 42px;
  width: 61px;
  font-size: $bodytext_font_size;
  box-shadow: none;
  border: none;
  margin-left: 10px;
}
input[type=email] {
  height: 42px;
  width: 260px;
  border: none;
}
}



.contact-info-img-container {
  display: flex;
  flex-wrap: wrap;
}

.img-phone {
img {
  // height: 30px;
  width: 24px;
}
}

.img-email {
img {
  // height: 22px;
  width: 28px;
}
}

.contact {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  
}

.site-footer {
  width: 100%;
  // height: 175px;

}

.footer-content {
  max-width: 1400px;
  height: 175px;
  display: flex;
  justify-content: space-evenly;
  @include footer-width { ///changed with footer-width
    height: 300px;
    flex-wrap: wrap;
    .contact {
      order: 2;
      width: 50%;
    }
    .footer-newsletter-form {
      order: 1;
      width: 100%;
    }
    .social-icon {
      order: 3;
      width: 50%;
    }
    .site-rights-mobile {
      order: 4;
      width: 100%;
      text-align: center;
    }
  } ///changed with footer-width
}

  .social-icon-mobile-image {
      width: 20px;
  }



.contact {
p {
  margin: none;
}

@include mobile { ///changed with mobile
  width: 100%;
}
  } 

.social-icon {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  align-self: center;

}  

.make-strong {
  font-size: $bodytext_font_size;
}

.contact, footer-newsletter-form, social-icons {
 width: 33%;
}

