/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* 404 page */

.four-o-four{
    margin: 77px auto;
    text-align: center;

}
.four-o-four-text{
    font-family: $headline_font_family;
    font-size: $bodytext_font_size_smaller;
}