/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Front page */
.hero-banner {
    position: relative;

    .hero-banner-div {
        @include mobile {
            background-position: bottom !important;
            background-size: 230% !important;
            height: 600px !important;
        }
    }
}

.front-page-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    background: lighten($color: $light_green, $amount: 12%);
    margin-top: 50px;
    margin-bottom: 80px;

    &:focus {
        outline: none;
    }

    img {
        background: $font_light;
        margin: 15px;

        @include mobile {
            margin: 0;
        }
    }
}

// .front-page-values

.hr-line {
    width: 30%;
    margin: 0 auto;

    hr {
        border-top: 2px solid $dark_green;
    }
}

.front-page-content-container {
    .banner-text {
        position: absolute;
        top: 170px;
        left: 150px;
        font-size: 31px;
        font-weight: 700;
        width: 463px;
        font-family: $headline_font_family;

        @include mobile {
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            width: 340px;
            text-align: center;
        }
    }

    // .banner-text

    .button-arrow-container {
        width: 100%;
        text-align: center;

        @include mobile {
            height: 0px !important;
        }

        .button-arrow {
            margin: 0 auto;
            width: 68px;
            height: 67px;
            border-radius: 50px;
            font-size: 40px;
            color: $dark_green;
            text-align: center;
            position: relative;
            top: -30px;

            @include mobile {
                top: -80px;
                width: 50px;
                height: 50px;
                font-size: 20px;
            }

            &:focus {
                outline: none;

            }
        }

        // .button-arrow
    }

    // .button-arrow-container

    .front-page-button-book {
        position: absolute;
        top: 296px;
        left: 150px;

        @include mobile {
            left: 25vw;
            top: 170px;
            font-size: 20px;
            width: 45%;
            height: 50px;
        }
    }

    // .front-page-button-book
}

//.front-page-content-container


//workspace style in front page
.front-page-workspace-title {
    font-family: $headline_font_family;
    font-size: 23px;
    text-align: center;
    margin-top: 70px;
}

.front-page-workspace-text {
    font-family: $bodytext_font_family;
    font-size: $bodytext_font_size;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.button-book {
    display: inline-block;
    font-size: 25px;
    color: $font_light;
    font-weight: 700;
    width: 250px;
    height: 80px;
    font-family: $bodytext_font_family;
    background: $dark_green;
    box-shadow: none;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    @include mobile{
        padding-top: 10px;
    }


    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 0 10px 10px 0 $dark_grey;
    }

    &:visited {
        color: $font_light;
    }

}

// .button-book


// Front-page - amp community
.front-page-amp-community {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;

    h2 {
        font-family: $headline_font_family;
        padding: 60px 0;
    }

    p {
        font-family: $bodytext_font_family;
        font-size: 18px;
    }

    .front-page-amp-community-logos {
        display: flex;
        flex-flow: row wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 250px;
        overflow: hidden;
        position: relative;
        transition: 0.7s;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 200px;
            background: linear-gradient(to bottom, rgba(white, 0), rgba(white, 1));
        }

        &.is-open {
            height: 550px;
            transition: 0.7s;

            &::after {
                content: '';
                background: none;
            }
        }

        div {
            width: 33%;
            height: 150px;
            display: flex;
            align-content: center;

            img {
                margin: auto;
            }
        }
    }

    // .front-page-amp-community-logos
}

// .front-page-amp-community

.front-page-amp-community-division-line-top {
    border-top: 2px solid $dark_green;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 80px;
    height: 0.1px;
    width: 25%;
}

.front-page-amp-community-division-line {
    border-top: 3px solid $dark_green;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 0.1px;
    width: 90%;
}

.front-page-button-arrow {
    text-align: center;

    .button-arrow-amp-community {
        width: 68px;
        height: auto;
        font-size: 30px;
        color: $dark_green;
        text-align: center;
        border: none;
        background: none;
        box-shadow: none;

        &:focus {
            outline: none;
        }
    }

    // .button-arrow-amp-community 
}

// .front-page-button-arrow

.turn-arrow {
    transform: rotate(180deg);
}

.front-page-workspace {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    margin-top: 50px;

    a {
        text-decoration: none;
    }

    .front-page-each-workspace {
        background: $font_light;
        margin: 15px;
        flex: 1 1 auto;
        text-align: center;
        box-shadow: 0 12px 48px -12px $box_shadow_green;
        width: 350px;
        height: fit-content;

        @include mobile {
            width: 100%;
        }


        .front-page-workspace-thumbnail {
            height: auto;
            width: 100%;
            background: $font_light;

            img {
                width: 100%;
                margin-top: 100px;
            }
        }

        .front-page-workspace-title {
            max-width: 100%;
            font-family: $headline_font_family;
            font-size: 10px;

            h1 {
                margin-top: 50px;
            }
        }

        // .front-page-workspace-title
    }

    // .front-page-each-workspace
}

// .front-page-workspace


// Carousel in Front page for testimonials
.front-page-carousel {
    width: 100%;

    @include mobile {
        display: none; ////////// test for new way to do it for mobile
        width: 80%;
        margin: 0 auto;
    }

    .main-carousel {
        height: 550px;
        margin: 0 auto;
        // margin-bottom: 50px;
        width: 60%;
        margin: 50px auto;

        .carousel-cell {
            width: 40%;
            // border: 1px solid black;
            text-align: center;
            // height: 85%;
            border: 1px solid black;
            opacity: 0.6;
            transition: transform 0.5s, opacity 0.5s;
            // transform: scale(0.9);
            margin: 0;
            font-family: $bodytext_font_family;
            font-size: $bodytext_font_size_smaller;

            @include mobile {
                display: none;
                width: 100%;
            }

            .carousel-content {
                width: 100%;
                margin: 0 auto;
                margin-top: 10px;
                padding: 30px;
                visibility: visible;
                z-index: 100;
            }

            .carousel-image {
                width: 130px;
                margin: 30px auto;
                height: 130px;

                img {
                    border-radius: 50%;
                    height: 100%;
                }
            }

            .carousel-text {
                // font-family: $bodytext_font_family;
                // font-size: $bodytext_font_size_smaller;
                margin: 30px 0;
            }

            .carousel-name {
                font-weight: bold;
            }

            .carousel-company {
                // font-family: $bodytext_font_family;
                // font-size: $bodytext_font_size_smaller;
            }
        }

        // .carousel-cell

        .is-selected {
            transform: scale(1.2);
            // transition: 0.3s;
            background: white;
            z-index: 299;
            opacity: 1;
            margin-right: -30px;

            @include mobile {
                display: initial;
                left: 0 !important;
                transform: scale(1);
                margin-right: unset;
            }
        }

        // .is-selected
    }

    // .main-carousel

    .flickity-enabled .flickity-viewport {
        padding: 3rem 0;
        height: 100%;
        overflow: visible;

        @include mobile {
            padding: 0;
            overflow: hidden;
        }
    }

    .flickity-slider {
        // transform: translateX(-50%) !important;
        // left: 50% !important;
    }

    .item-active {
        // margin-bottom: 100px;
    }

    .carousel-text {
        max-height: 100px;
        overflow-y: scroll;
    }

    .flickity-prev-next-button {
        background: transparent;

        @include mobile {
            display: none;
        }

        &.previous {
            box-shadow: unset;
            left: -140px !important;
        }

        &.next {
            right: -140px !important;
            box-shadow: unset;
        }
    }

    // .flickity-prev-next-button

    .flickity-slider {
        // left: 121px !important;
    }

    .flickity-page-dots {
        .is-selected {
            background: $dark_green !important;
            margin: 0 15px;

            @include mobile {
                display: inline-block;
            }
        }

        li {
            background: $light_green !important;
            border: 1px solid $dark_green;
            margin: 0 15px;
        }
    }

    // .flickity-page-dots
}

// .front-page-carousel



// Front page carousel mobile
.front-page-carousel-mobile {
    display: none;

    @include mobile {
        display: initial;
    }

    .main-carousel {
        height: 80vh;

        .carousel-cell {
            .carousel-content {
                height: 80vh;
                width: 90vw;
                margin: 0 auto;

                .carousel-image {
                    text-align: center;

                    img {
                        width: 40%;
                    }
                }

                .carousel-text {
                    text-align: center;
                    height: 40vh;
                    width: 80%;
                    margin: 20px auto;
                    overflow-y: scroll;
                }

                .carousel-name {
                    text-align: center;
                }

                .carousel-company {
                    text-align: center;
                }
            }

            // .carousel-content
        }

        // .carousel-cell
        .is-selected {
            border: 1px solid black;
        }
    }

    // .main-carousel

    .flickity-button {
        display: none;
    }
}

// .front-page-carousel-mobile  




.bottom-book-button-front-page {
    margin-bottom: 200px;
    margin-top: 100px;

    @include mobile {
        margin-bottom: 50px;
    }

}


//back to top link in mobile
.mobile-back-to-top {
    display: none;
    text-align: center;
    width: 100%;
    height: 50px;

    @include mobile {
        display: flex;
        justify-content: center;
        align-content: center;
    }

}