/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Header */
.header-shadow-effect {
    background: linear-gradient(to bottom, rgba($dark_green, 0.07), rgba($light_green, 0));
    height: 20px;
    max-width: $body_max_width;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo {
        width: 100px;

        @include mobile {
            margin: 0 auto;
            widows: 10%;
        }

        /////
    }

    .menu-menu-1-container {
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
        text-align: right;
        width: 70%;

        @include mobile {
            margin-right: auto;
            padding-top: 9rem;
            margin-left: auto;

            .menu-item {
                width: 100%;
            }

            .menu-item > a {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                width: 100%;
            }
        }

        /////////////

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            @include mobile {
                background: green;
                justify-content: flex-start;
                flex-flow: column;
            }

            li {
                width: fit-content;
                text-align: right;
                display: flex;
                justify-content: flex-start;
                padding-right: 30px;

                @include mobile {
                    //////
                    text-align: left;
                    padding: 0;
                    flex-flow: row-reverse;
                    flex-wrap: wrap;
                }

                /////

                &:nth-child(2) {}

                &:focus {
                    border-bottom: red 2px solid;
                    
                }

                a {
                    width: fit-content;
                }
            }

            .sub-menu {
                display: flex;
                flex-flow: column;
                text-align: left;
                box-shadow: none;

                li {
                    text-align: left;
                    border-bottom: 1px solid;
                    width: 220px;
                    display: flex;
                    justify-content: flex-start;

                    @include mobile {///////
                        font-weight:10px;
                        width: 100%;
                        margin-left: 30px;
                    }

                    ////////

                    &:nth-child(1) {
                        margin-top: 20px;
                        @include mobile{
                            margin: 0;
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 10px;
                        @include mobile{
                            margin: 0;
                        }
                    }

                    &:nth-child(3) {
                        margin-top: 10px;
                        border-bottom: none;
                        @include mobile{
                            margin: 0;
                        }
                    }
                }

                a {
                    font-size: $bodytext_font_size_smaller;
                    border-bottom: none;
                }
            }
        }

        a {
            font-family: $headline_font_family;
            font-size: $subhead_font_size;
            text-decoration: none;
            color: $font_dark;
            font-weight: 900;
            @include mobile{
                font-size: $bodytext_font_size_smaller;
            }
        }

        .current-menu-item {
            li {
                display: flex;
                justify-content: flex-end;
            }

            a {
                width: fit-content;
                margin-bottom: 2px;
                border-bottom: red solid 4px;
                @include mobile{
                    border-bottom: none;
                    width: 100%;
                }
            }
        }
    }
}



// .menu-item-has-children a {
// @include mobile {
//     display: flex;
// }
// }
.main-navigation .menu-menu-1-container ul .sub-menu{
    @include mobile{/////////
    display: none;
    }//////

    &.mobile-sub-menu {
        @include mobile{
        display: flex;
        }
    }
}

.menu-toggle-header {
    @include mobile{
    position: relative;
    z-index: 60;
    font-size: 40px;
    margin-right: 10px;
    }
}

.menu-menu-1-container {
    @include mobile{//////
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
        width: 80%;
        margin-right: 0;
        z-index: 50;

        &.is-menu-active {
            transform: translateX(0);
        }
    }//////



    .menu-item-has-children {
        @include mobile{
        width: 100%;
        background: green;

        a {
            width: 30%;
            background: yellow;
        }
    }
    }

    .sub-menu {
        @include mobile{
        display: none;

        &:hover {
            display: none;
        }

        &.mobile-sub-menu {
            display: initial;
            // margin-left: auto;
        }
    }
    }

    a.toggle-submenu {
        @include mobile{
        margin-left: 40px;
        font-size: 20px;
        width: 40px;
        background: green;
        }
    }
}
    #primary-menu{
        @include mobile{
            position: relative;
            top:0;
            overflow: visible;
        }
}

.menu-item-has-children {
    > a::after {
        @include mobile {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
        }
    }
}
.remove-icon{
    display: none;
}

.cross-close {
    @include mobile{
    z-index: 60;
    }
  }