/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Header */
.header-shadow-effect {
    background: linear-gradient(to bottom, rgba($dark_green, 0.07), rgba($light_green, 0));
    height: 20px;
    max-width: $body_max_width;
}
// .header-shadow-effect

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo {
        width: 100px;
        @include mobile {
            margin: 0 auto;
            widows: 10%;
        }
    }

    .menu-menu-1-container {
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
        text-align: right;
        width: 70%;

        @include mobile {
            margin-right: auto;
            padding-top: 9rem;
            margin-left: auto;
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            transform: translateX(100%);
            width: 80%;
            margin-right: 0;
            z-index: 150;
    
            &.is-menu-active {
                transform: translateX(0);
                opacity: 1 !important;
            }

            .menu-item {
                width: 100%;
            }

            .menu-item>a {
                display: flex;
                justify-content: flex-start;
                padding: 1rem;
                width: 100%;
            }
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            @include mobile {
                background: $light_green;
                justify-content: flex-start;
                flex-flow: column;
                border: none;
            }

            li {
                width: fit-content;
                text-align: right;
                display: flex;
                justify-content: flex-start;
                padding-right: 30px;

                @include mobile {
                    outline: none !important;
                    text-align: left;
                    padding: 0;
                    flex-flow: row-reverse;
                    flex-wrap: wrap;
                    border-bottom: 1px solid $dark_green;
                }

                /////

                &:nth-child(2) {}

                &:focus {
                    border-bottom: red 2px solid;

                }

                a {
                    width: fit-content;

                    @include mobile {
                        font-family: $bodytext_font_family;
                        font-weight: 900;
                    }
                }
            }

            .sub-menu {
                display: flex;
                flex-flow: column;
                text-align: left;
                box-shadow: none;
                @include mobile {
                    display: none;
                }
                &.mobile-sub-menu {
                    @include mobile {
                        display: flex;
                    }
                }
                @include mobile {
                    display: none;
        
                    &:hover {
                        display: none;
                    }
        
                    &.mobile-sub-menu {
                        display: initial;
                    }
                }

                li {
                    text-align: left;
                    border-bottom: 1px solid;
                    width: 220px;
                    display: flex;
                    justify-content: flex-start;

                    @include mobile {
                        border: none;
                        width: 100%;
                        margin-left: 30px;
                    }

                    &:nth-child(1) {
                        margin-top: 20px;
                        @include mobile {
                            margin: 0;
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 10px;
                        @include mobile {
                            margin: 0;
                        }
                    }

                    &:nth-child(3) {
                        margin-top: 10px;
                        border-bottom: none;

                        @include mobile {
                            margin: 0;
                        }
                    }
                }
                // li

                a {
                    font-size: $bodytext_font_size_smaller;
                    border-bottom: none;

                    @include mobile {
                        font-size: 13px;
                        margin-left: 30px;
                    }
                }
            }
            // .sub-menu
        }
        // ul

        a {
            font-family: $headline_font_family;
            font-size: $subhead_font_size;
            text-decoration: none;
            color: $font_dark;
            font-weight: 900;

            @include mobile {
                font-size: $bodytext_font_size_smaller;
            }
        }

        .current-menu-item {
            li {
                display: flex;
                justify-content: flex-end;
            }

            a {
                width: fit-content;
                margin-bottom: 2px;
                border-bottom: red solid 4px;

                @include mobile {
                    border-bottom: none;
                    width: 100%;
                }
                &:nth-child(2){
                    @include mobile{
                       width: 50%; 
                    }
                    
                }
            }

        }
        // .current-menu-item

        .menu-item-has-children {
            @include mobile {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
    
                a {
                    order: 0;
                    width: 50%;
                }
    
                ul.mobile-sub-menu {
                    order: 2;
                    width: 100%;
    
                    li {
                        a {
                            width: 100%;
                        }
                    }
                }
            }
    
            .mobile-menu-arrow {
                display: none;

                @include mobile {
                    display: initial;
                    order: 1;
                    width: 45%;
                    font-size: 20px;
                    color: $dark_green;
                    height: 20px;
                    text-align: right;
                    i{
                        // text-align: right;
                    }
                }
            }
        }
        // .menu-item-has-children
    }
    // .menu-menu-1-container
}
// .main-navigation


.menu-toggle-header {
    @include mobile {
        position: relative;
        z-index: 160;
        font-size: 40px;
        margin-right: 10px;
    }
}

#primary-menu {
    @include mobile {
        position: relative;
        top: -50px;
        overflow: visible;
        height:83.3vh;
    }
}

.remove-icon {
    display: none;
}

.cross-close {
    @include mobile {
        z-index: 160;
    }
}

.display-nothing {
    display: none !important;
}

#site-navigation {
    @include mobile {
        overflow: hidden;
        position: relative;
    }
}

body .hamburguer {
    i {
        @include mobile {
            font-size: 40px;
            color: $dark_green;
            margin-right: 10px;
        }
    }
}

body {
    .cross-close {
        i {
            @include mobile {
                font-size: 40px;
                color: $dark_green;
                margin-right: 10px;
            }
        }
    }
}

#background-mobile{
    height: 90vh;
    width: 100vw;
    display: none;
    &.background-mobile-opacity-on{
        display: initial;
        content: "";
        position: absolute;
        background: rgba(0,0,0,0.3);
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 0.6;
        z-index: 1;
    }
}