.about-section-title {
  text-align: center;
  height: 38px;	width: 262px;	color: #393939;	font-family: "Bambi Bold";	font-size: 36px;	letter-spacing: 0.44px;	line-height: 38px;
}
.about-section-description {
  text-align: center;
}
