.about-content {
  .missions-values-title,
  .meet-the-team-title {
    text-align: center;
    color: #393939;
    font-family: 'Bambi Bold';
  }

  /* HEAD OF PAGE SHADOW */
  .about-shadow {
    background: linear-gradient(
      to bottom,
      rgba($dark_green, 0.07),
      rgba($light_green, 0)
    );
    height: 20px;
    max-width: $body_max_width;
  }

  /* ABOUT PAGE MAIN TITLE */
  .about-page-main-title {
    h1 {
      font-family: $headline_font_family;
      text-align: center;
      margin-top: 75px;
      @include mobile {
        text-align: center;
        // max-width: 760px;
      }
    }
    p {
      text-align: center;
      margin-bottom: 100px;
      width: 700px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* AMP VALUES */
  .about-page-values {
    .values-description {
      h2 {
        font-family: $headline_font_family;
        text-align: center;
      }
      p {
        text-align: center;
        text-align: center;
        width: 750px;
        margin-bottom: 100px;
        margin-left: 170px;
        margin-right: 190px;
      }
    }
  }
  .about-page-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    background: lighten($color: $light_green, $amount: 12%);
    margin-top: 50px;
    margin-bottom: 80px;

    &:focus {
      outline: none;
    }

    img {
      background: $font_light;
      margin: 15px;
    }
  }

  /* MEET THE TEAM */
  .team-section {
    .main-carousel {
      h2 {
        font-family: $headline_font_family;
        text-align: center;
        margin-bottom: 85px;
      }
    }

    .mobile-about-carousel {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-evenly;
      .flickity-viewport {
        width: 100%;
        // display: flex;
        // flex-direction: row;
      }

      .carousel-cell {
        width: 38%;
        text-align: center;
      }
      .carousel-content-individual,
      .carousel-image {
        img {
          height: 233px;
          width: 233px;
          border-radius: 50%;
        }
        .individual {
          text-align: center;
          p {
            margin-bottom: 1.5rem;
            width: 200px;
            padding-left: 25px;
          }
        }
      }
      .flickity-button,
      .flickity-page-dots {
        display: none;
      }
    }
  }

  /* OUR HEADQUARTERS */
  .headquarters {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    height: 429px;
    margin-bottom: 429px;
    margin-top: 100px;
    .hq-description {
      background-color: #daefec;
      height: 100%;
      width: 60%;
      border-radius: 4px;
      text-align: center;

      h2 {
        font-family: $headline_font_family;
        text-align: center;
        padding-top: 30px;
      }
      p {
        text-align: center;
      }
    }

    .amp-building {
      img {
        height: auto;
        width: 60%;
        position: absolute;
        border-radius: 4px;
        top: 250px;
        left: 40%;
      }
    }
    .amp-building-mobile {
      display: none;
    }
  }

  /* AMP MEMBERS */
  .about-page-amp-members {
    max-width: 60%;
    margin: 0 auto;
    margin-top: -100px;

    h2 {
      font-family: $headline_font_family;
      text-align: center;
    }

    p {
      font-family: $bodytext_font_family;
      font-size: 18px;
      text-align: center;
    }

    .about-page-amp-members-logos {
      display: flex;
      flex-flow: row wrap;
      margin-top: 50px;
      margin-bottom: 50px;
      position: relative;
      transition: 0.7s;

      div {
        width: 33%;
        height: 150px;
        display: flex;
        align-content: center;

        img {
          margin: auto;
        }
      }
    }
  }

  .about-page-workspace-button {
    .bottom-book-button-about-page {
      .button-book {
        font-size: 25px;
        color: $font_light;
        font-weight: 700;
        width: 250px;
        height: 80px;
        font-family: $bodytext_font_family;
        background: $dark_green;
        box-shadow: none;
        padding: 0;
        margin-bottom: 20vh;
      }
    }
  }
}

/* MOBILE VERSION */

.about-content {
  // max-width: 760px;
  // margin: 0 auto;
  @include mobile {
    h1,
    p {
      max-width: 100vw;
    }
  }

  @include mobile {
    .about-page-values {
      background: white;
      .values-description {
      }
    }
  }

  /* TEAM CAROUSEL */

  @include mobile {
    .flickity-viewport {
      width: 100%;

      .carousel-cell {
        width: 100% !important; // todo pleease don't iuse important
      }
    }
  }
  @include mobile {
    .team-section .mobile-about-carousel {
      .flickity-button {
        display: block;
      }
    }
  }

  /* MOBILE HQ SECTION */

  @include mobile {
    .headquarters {
      .hq-description,
      h2 {
        background: white;
        text-align: center;
        p {
          text-align: center;
        }
      }

      .hq-description {
        width: 100%;
        .amp-building-mobile {
          width: 100%;
        }
      }

      .amp-building {
        img {
          display: none;
        }
      }

      .amp-building-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    }
  }
}





  


