/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Front page */





/* Workspace */






/* About */





/* Events */






/* Contact */






/* Book a tour popup */


/* Header */



/* Footer */
.site-footer {
    display: flex;
    flex-wrap: wrap;
    .footer-newsletter-form {
    width: 100%;
    text-align: center;
    }
    .site-info {
        width: 100%;
        text-align: center;
    }
}


.footer-newsletter-form {
    input {
    text-transform: uppercase;
}
}

.hidden-mobile {
    display: none;
}

.show-desktop {
    display: none;
}