.about-content {
  .who-we-are-title,
  .missions-values-title,
  .meet-the-team-title {
    text-align: center;
    color: #393939;
    font-family: 'Bambi Bold';
  }

  /* AMP VALUES */
  .about-page-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    background: lighten($color: $light_green, $amount: 12%);
    margin-top: 50px;
    margin-bottom: 80px;

    &:focus {
      outline: none;
    }

    img {
      background: $font_light;
      margin: 15px;
    }
  }

  /* MEET THE TEAM */
  .team-section {
    .team-title {
      text-align: center;
    }
    .the-team {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .amp-employee {
        img {
          height: 233px;
          width: 233px;
          border-radius: 50%;
        }
        .individual {
          text-align: center;
          p {
            //how to make one word go to the next line?
            //tried white space and tried word wrap
          }
        }
      }
    }
  }

  /* OUR HEADQUARTERS */
  .headquarters {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    height: 429px;
    margin-bottom: 429px;
    .hq-description {
      background-color: #daefec;
      height: 100%;
      width: 60%;
      border-radius: 4px;
      text-align: center;
    }
    .amp-building {
      img {
        height: auto;
        width: 60%;
        position: absolute;
        border-radius: 4px;
        top: 250px;
        left: 40%;
      }
    }
  }

  /* AMP MEMBERS */
  .about-page-amp-members {
    max-width: 60%;
    margin: 0 auto;
    // text-align: center;
    // justify-content: center;
    // align-content: center;

    h2 {
      font-family: $headline_font_family;
      text-align: center;
    }

    p {
      font-family: $bodytext_font_family;
      font-size: 18px;
      text-align: center;
    }

    .about-page-amp-members-logos {
      display: flex;
      flex-flow: row wrap;
      margin-top: 50px;
      margin-bottom: 50px;
      position: relative;
      transition: 0.7s;

      div {
        width: 33%;
        height: 150px;
        display: flex;
        align-content: center;

        img {
          margin: auto;
        }
      }
    }
  }

  .about-page-amp-member-division-line-top {
    border-top: 2px solid $dark_green;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 80px;
    height: 0.1px;
    width: 25%;
  }

  .about-page-amp-member-division-line {
    border-top: 3px solid $dark_green;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 0.1px;
    width: 90%;
  }

  .about-page-workspace-button {
    .bottom-book-button-about-page {
      .button-book {
        font-size: 25px;
        color: $font_light;
        font-weight: 700;
        width: 250px;
        height: 80px;
        font-family: $bodytext_font_family;
        background: $dark_green;
        box-shadow: none;
        padding: 0;
        margin-bottom: 40px;
      }
    }
  }
}
