/*--------------------------------------------------------------
# Page Templates
    Here is where all specific css per page template will go
--------------------------------------------------------------*/

/* Front page */
.hero-banner {
    position: relative;
}

.front-page-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
    background: lighten($color: $light_green, $amount: 12%);
    margin-top: 50px;
    margin-bottom: 80px;

    img {
        background: $font_light;
        margin: 15px;
    }
}
.hr-line{
    width: 30%;
    margin: 0 auto;
    hr{
    border-top: 2px solid $dark_green;
    }
}

.front-page-content-container {
    .banner-text {
        position: absolute;
        top: 170px;
        left: 150px;
        font-size: 31px;
        font-weight: 700;
        width: 463px;
        font-family: $headline_font_family;
    }

    .button-arrow-container {
        width: 100%;
        text-align: center;

        .button-arrow {
            margin: 0 auto;
            width: 68px;
            height: 67px;
            border-radius: 50px;
            font-size: 40px;
            color: $dark_green;
            text-align: center;
            position: relative;
            top: -30px;

            &:focus {
                outline: none;
            }

        }
    }

    .front-page-button-book {
        position: absolute;
        top: 296px;
        left: 150px;
    }

    .button-book {
        font-size: 25px;
        color: $font_light;
        font-weight: 700;
        width: 250px;
        height: 80px;
        font-family: $bodytext_font_family;
        background: $dark_green;
        box-shadow: none;
        padding: 0;

        &:focus {
            outline: none;
        }

        &:hover {
            box-shadow: 0 10px 10px 0 $dark_grey;
        }
    }

    //workspace style
    .front-page-workspace{
        font-family: $headline_font_family;
        font-size: 23px;
        text-align: center;
        margin-top: 70px;
    }
    .front-page-workspace-text{
        font-family: $bodytext_font_family;
        font-size: $bodytext_font_size;
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
    }


}




/* Workspace */






/* About */





/* Events */






/* Contact */






/* Book a tour popup */


/* Header */

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo {
        width: 100px;
    }

    .menu-menu-1-container {
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
        text-align: right;
        width: 70%;

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            li {
                width: fit-content;
                text-align: right;
                display: flex;
                justify-content: flex-start;
                padding-right: 30px;

                &:nth-child(2) {}

                &:focus {
                    border-bottom: red 2px solid;
                }

                a {
                    width: fit-content;
                }
            }

            .sub-menu {
                display: flex;
                flex-flow: column;
                text-align: left;
                box-shadow: none;

                li {
                    text-align: left;
                    border-bottom: 1px solid;
                    width: 220px;
                    display: flex;
                    justify-content: flex-start;

                    &:nth-child(1) {
                        margin-top: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 10px;
                    }

                    &:nth-child(3) {
                        margin-top: 10px;
                        border-bottom: none;
                    }
                }

                a {
                    font-size: $bodytext_font_size_smaller;
                    border-bottom: none;
                }
            }
        }

        a {
            font-family: $headline_font_family;
            font-size: $subhead_font_size;
            text-decoration: none;
            color: $font_dark;
            font-weight: 900;
        }

        .current-menu-item {
            li {
                display: flex;
                justify-content: flex-end;
            }


            a {

                width: fit-content;
                margin-bottom: 2px;
                border-bottom: red solid 4px;
            }
        }
    }
}





