/* Thank you Page */


.page-thank-you {
    
    .entry-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }    
    .thank-you-title, .thank-you-text {
        text-align: center;
        
    }
    .wp-block-image {
     display: flex;
     justify-content: center;
        
    }
    .thank-you-title {
    font-family: $headline_font_family;
    }
    .thank-you-text {
    font-family: $bodytext_font_family;    
    }
    .front-page-workspace-button {
        padding-bottom: 5rem;
    }
    .entry-header {
        display: block;
        text-align: center;
    }

@include mobile { ///changed with mobile
    .thank-you-title {
    text-transform: capitalize;
    }    
  }
}  