

.workspace-content {
    div:last-of-type {
        div:last-of-type {
            
        hr {
            background-color: purple;
            display: none;
        }    
        }        




    
    }

}