

.workspace-content {
    div:last-of-type {
        div:last-of-type {
        hr {
            display: none;
        }    
        }        
    }
}



.workspace-content {
.container-carousel {
    width: 540px;
    a {
        margin: 0 auto;       
        right: 0;
    }
}
.carousel-cell {
    width: 100%;
    
}
}


.workspace-wrapper {
    position: relative;
    display: flex;
    > div {
        width: 50%;
        padding: 0 3rem;
    }
    &::after {
        content: '';
        width: 50%;
        height: 2px;
        background: $dark_green;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}

.workspace-details {
    h1 {
        font-family: $headline_font_family;
        font-size: $headline_font_size *1.8;
        margin-top: 0;
    }
    height: 350px;
}

.carousel-cell {
    img {
        width: 100%;
        height: auto;
    }
}

.workspace-wrapper {
    padding-bottom: 38px;
    margin: 80px 160px 0 160px;
}

.flickity-button-icon {
    color: $dark_green;
}

.container-carousel {
.flickity-button {
    background:transparent;
    box-shadow: unset;
    border: none;
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    
    &:hover {
        background: none;
    }


    &.flickity-prev-next-button {
        &.previous {
            left: -10px !important; 
            top: 40%;
        }
        &.next {
            right: -10px !important;
            top: 40%;

        }
    }
}
    
}// .container-carousel 
   .workspace-wrapper {
    .dot {
        width: 90px;
        height: 90px;
    }
   }


   .flickity-viewport {
       padding: 0;
       height: 306px;
   }

.workspace-wrapper {

   .flickity-page-dots {
        width: 82% !important;
        bottom: 30px;
   
    .is-selected {
        background: $dark_green !important;
        height: 17px;
        width: 17px;
    }
    li {
        background: $light_green !important;
        height: 17px;
        width: 17px;
        border: 1px solid $dark_green;
        
    }
}   
}   

// .single-work {
//     .primary-cta-block {
//         margin: 0 auto;
//         .button-book {
//             text-align: center;
//         }
//     }
// }