

.workspace-content {
    div:last-of-type {
        div:last-of-type {
        hr {
            display: none;
        }    
        }        
    }
}

.workspace-content {
    hr {
        width: 50%;
        height: 0px;
        border: 1px solid $dark_green;
    }
}